body {
	font-size: 17px;
	color: #4d4d4d;
	background: #f8f8f8;
}
a {
	color: #2DB57F;
}
a:visited, a:hover, a:focus {
	color: #238C63;
}
.navbar {
	margin-bottom: 0px;
}
h1, h3 {
  text-shadow: 0px 2px 1px rgba(0,0,0,0.1);
}
h3 {
	border-bottom: 1px solid #ddd;
}
li > a.gh {
	font-size: 30px;
	padding-top: 9px;
	padding-bottom: 9px;
}
ul.posts {
	line-height: 30px;
	padding: 0 0 0 30px;
}
ul.posts span {
	width: 100px;
	display: inline-block;
}
section {
  min-height: 1000px;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  background: #fff;
}
section article {
  padding: 40px;
}
section #post-title {
  margin-bottom: 30px;
  text-shadow: 0px 2px 1px rgba(0,0,0,0.1);
}
section #post-date {
  text-align: right;
  color: #999999;
  font-size: 14px;
}
.mycode {
	font-size: 14px;
}

.dl-horizontal {
	margin:0;
}
em {
	color: #F19C65;
}
.console {
	height: 234px;
	background: #f5f5f5;
	overflow: auto;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding:10px;
	font-size:12px;
}
.console p {
	margin:0;
}